.Header
{
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 30px;
}	

.path
{

	border : 5px solid black;
	text-align: center;
	margin-left : 50px;
	margin-right: 25px;
	padding: 5px;
	width : 20px;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 24px
	
}	

.about
{

	border : 5px solid black;
	text-align: center;
	margin-left : 50px;
	margin-right: 25px;
	padding: 5px;
	width : 20px;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 24px
	
}	